<form [formGroup]="debtForm" (ngSubmit)="addDebt()" class="center">

    <mat-form-field>
      <mat-label>To Whom</mat-label>
      <input matInput formControlName="toWhom">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <button type="submit">Schulden hinzufügen</button>
  
  </form>
  