<form [formGroup]="transactionForm" (ngSubmit)="addTransaction()" class="center">

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="transactionType">
            <mat-option value="Income">Income</mat-option>
            <mat-option value="Cost">Cost</mat-option>
            <mat-option value="Invest">Invest</mat-option>
            <mat-option value="Savings">Savings</mat-option>
            <mat-option value="Debt">Debt</mat-option> </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit">Transaktion hinzufügen</button>

</form>