<div>
    <form>
        <label for="expendituresName">Ausgaben-Name:</label>
        <input type="text" name="expendituresName" [(ngModel)]="transaction.transactionType">

        <label for="amount">Betrag:</label>
        <input type="number" name="amount" [(ngModel)]="transaction.amount">

        <label for="date">Datum:</label>
        <input type="date" name="date" [(ngModel)]="transaction.date">c

        <label for="description">Beschreibung:</label>
        <input type="text" name="description" [(ngModel)]="transaction.description">

        <button type="button" (click)="addTransaction()">Transaktion hinzufügen</button>
    </form>
</div>