<!-- fix-costs-form.component.html -->
<form [formGroup]="fixCostsForm" (ngSubmit)="addFixCosts()" class="center form">
    <mat-form-field>
      <mat-label>Name der Ausgabe</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Betrag</mat-label>
      <input matInput formControlName="amount" type="number">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Fälligkeitsdatum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Zahlungsintervall</mat-label>
      <mat-select formControlName="paymentInterval">
        <mat-option value="wöchentlich">Wöchentlich</mat-option>
        <mat-option value="monatlich">Monatlich</mat-option>
        <mat-option value="quartalsweise">Quartalsweise</mat-option>
        <mat-option value="jährlich">Jährlich</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- <mat-checkbox formControlName="autoRenewal">Automatische Erneuerung</mat-checkbox> -->
  
    <button type="submit">Feste Ausgabe hinzufügen</button>
  </form>
  