<div class="content-container">
    <mat-card *ngFor="let transaction of allIncomeTransactions" class="mat-card center">
        <mat-card-title>{{ transaction.incomeType }} - {{ transaction.transactionType }}</mat-card-title>
        <div style="width: 100%; display: flex; align-items: flex-start; flex-direction: column;">
            <mat-card-subtitle style="padding: 16px;">{{ transaction.description }}</mat-card-subtitle>
            <mat-card-content>
                <p>Betrag: {{ transaction.amount }} €</p>
                <p>Datum: {{ transaction.date }}</p>
                <p>Zahlungsmethode: {{ transaction.paymentMethod }}</p>
            </mat-card-content>
        </div>
    </mat-card>

    <mat-card class="mat-card center">
        <mat-card-title>Total Income</mat-card-title>
        <mat-card-content>{{ totalIncome }} €</mat-card-content>
    </mat-card>

    <mat-card class="mat-card center">
        <mat-card-title>Income Actual Month</mat-card-title>
        <mat-card-content>{{ incomeActualMonth }} €</mat-card-content>
    </mat-card>

</div>