<mat-drawer-container class="full-height" autosize>

    <mat-drawer #drawer mode="side" class="mat-side-nav" [opened]="true">
        <ul>
            <li routerLink="/">
                <mat-icon>bar_chart_4_bars</mat-icon>
                <span> Dashboard</span>
            </li>

            <li routerLink="/debt">
                <mat-icon>today</mat-icon>
                <span>Debt</span>
            </li>

            <li routerLink="/savings">
                <mat-icon>savings</mat-icon>
                <span> Ersparnisse</span>
            </li>

            <li routerLink="/dashboard">
                <mat-icon>today</mat-icon>
                <span>Aktueller Monat</span>
            </li>

            <li routerLink="/transaction">
                <mat-icon>today</mat-icon>
                <span>Transaction</span>
            </li>


            <li routerLink="/fixCosts">
                <mat-icon>today</mat-icon>
                <span>Fix Costs</span>
            </li>

            <li routerLink="/income">
                <mat-icon>today</mat-icon>
                <span>Income History</span>
            </li>

        </ul>

    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar color="primary" class="toolbar">
            <button mat-icon-button (click)="drawer.toggle()" class="example-icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
        </mat-toolbar>


        <div class="content-container">
            <!-- The respective components are displayed here -->
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-content>
</mat-drawer-container>