<div>
    <form>
      <label for="expendituresName">Ausgaben-Name:</label>
      <input type="text" name="expendituresName" [(ngModel)]="expenses.transactionType">
  
      <label for="amount">Betrag:</label>
      <input type="number" name="amount" [(ngModel)]="expenses.amount">
  
      <label for="date">Datum:</label>
      <input type="date" name="date" [(ngModel)]="expenses.date">c
  
      <label for="description">Beschreibung:</label>
      <input type="text" name="description" [(ngModel)]="expenses.description">
  
      <button type="button" (click)="addTransaction()">Transaktion hinzufügen</button>
    </form>
  </div>